name: Publish

on:
  push:
    branches:
      - 'main'

jobs:
  package-publish:
    name: Publish
    runs-on: ubuntu-latest

    if: "!contains(github.event.head_commit.message, '[shallow]')"

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: NPM Token
        run: echo //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }} | tee .npmrc $HOME/.npmrc > /dev/null

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Yarn
        run: npm i -g yarn

      - name: Install
        run: yarn install

      - name: publish
        run: yarn npm publish
